filebrowser/*
!filebrowser/.filebrowser.json

homeassistant/*
!homeassistant/.gitkeep

overseerr/*
!overseerr/.gitkeep

pihole/*
!pihole/.gitkeep

plex/*
!plex/.gitkeep

prowlarr/*
!prowlarr/.gitkeep

radarr/*
!radarr/.gitkeep

sonarr/*
!sonarr/.gitkeep

transmission/*
!transmission/.gitkeep
